body{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(232, 129, 129);
    transition: background-color 5s;
}
.info-text{
    position: absolute;
    left: 40px;
    bottom: 6%;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 2.5dvh;
    color: #0000001a;
    user-select: none;
    font-weight: 900;
    font-family: monospace;
}
@media (max-width: 480px) {
    .info-text{
        display: none;
    }
}
.container{
    width: min-content;
    margin: 2.5svh auto 0 auto;
    padding: 20px;
    padding-top: 5px;
    height: auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    border: solid #e2e2e2 6px;
}
canvas{
    margin: auto;
    display: block;
    background-color: black;
    width: 40vmin;
}
.info{
    color: #b6b6b6;
    padding: 0;
    margin: 0;
    text-align: center;
    user-select: none;
}
.formula {
    background-color: rgb(228, 227, 227);
    border-radius: 2px;
    padding: 3px;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.options{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-gap: 5px;
    background-color: #e9e9e9;
    border-radius: 10px;
    button{
        width: 70%;
        margin: 5px auto 5px auto;
        height: max(5svh, 40px);
        background-color: #f4f4f4;
        border: solid rgb(175, 175, 175) 1px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
        user-select: none;

        font-weight: bold;
        color: rgb(95, 95, 95);
    }
    button:hover{
        background-color: #e4e4e4;
    }
    button:active{
        background-color: #b6b6b6;
    }
    .DrawGraphButton{
        grid-column: 1 / span 3;
    }
    .ResetViewButton{
        grid-column: 3 / span 1;
        grid-row: 2 / span 2;
    }
    input{
        width: max(80%, 20px);
        height: 0.8svh;
        padding: 10px;
        margin: 0 0 4px 0;
        background-color: #f4f4f4;
        border: solid rgb(175, 175, 175) 1px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
        user-select: none;

        font-weight: bold;
        color: rgb(131, 131, 131);

        user-select: none;
    }
    input:hover{
        background-color: #e4e4e4;
    }
    input:active{
        background-color: #b6b6b6;
    }
    label{
        font-weight: bold;
        color: rgb(95, 95, 95);
        text-align: right;
        padding: 5px;
        user-select: none;
    }
}
.button-container{
    display: grid;
    margin: auto;
    margin-top: 1svh;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    width: 100%-20px;
    button{
        width: 100%;
        height: max(5svh, 40px);
        padding: 10px;
        background-color: #f4f4f4;
        border: solid rgb(175, 175, 175) 1px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
        user-select: none;

        font-weight: bold;
        color: rgb(95, 95, 95);
        font-size: max(2vmin, 15px);
    }
    button:hover{
        background-color: #e4e4e4;
    }
    button:active{
        background-color: #b6b6b6;
    }
    .number{
        background-color: #d4ddeb;
    }
    .number:hover{
        background-color: #c4cbe2;
    }
    .number:active{
        background-color: #a4abe2;
    }
    .function{
        background-color: #e4d4d4;
    }
    .function:hover{
        background-color: #d4c4c4;
    }
    .function:active{
        background-color: #b4a4a4;
    }
    .special{
        background-color: #cbcbcb;
    }
    .special:hover{
        background-color: #bcbcbc;
    }
    .special:active{
        background-color: #9b9b9b;
    }
}