body{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(232, 129, 129);
    transition: background-color 5s;
}
.info-text{
    position: absolute;
    left: 40px;
    bottom: 6%;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 2.5dvh;
    color: #0000001a;
    user-select: none;
    font-weight: 900;
    font-family: monospace;
}
@media (max-width: 480px) {
    .info-text{
        display: none;
    }
}
.container{
    width: min-content;
    margin: 2.5svh auto 0 auto;
    padding: 20px;
    padding-top: 5px;
    height: auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    border: solid #e2e2e2 6px;
}
canvas{
    margin: auto;
    display: block;
    background-color: black;
    width: 40vmin;
}
.info{
    color: #b6b6b6;
    padding: 0;
    margin: 0;
    text-align: center;
    user-select: none;
    font-size: 12px;
}
.formulas {
    background-color: rgb(215, 221, 231);
    border-radius: 2px;
    padding: 5px;
    margin: 5px auto 5px auto;
    display: block;
    height: 10dvh;
    width: 97%;
    overflow-y: auto;
    overflow-x: hidden;
    .formula-div{
        display: grid;
        grid-template-columns: 10fr 1fr;
    }
    p{
        background-color: rgba(0, 0, 0, 0.079);
        border-radius: 2px;
        padding: 0;
        padding-top: 1px;
        margin: 2px;
        display: inline-block;
        word-break: break-all;
        height: min-content;
        width: 99%;
        border-radius: 3px;
        user-select: none;
    }
    .formula-color{
        width: 23px;
        height: 23px;
        margin: auto;
        padding: 0;
        border-radius: 8px;
        background-color: #e03143;
    }
    p#selected{
        background-color: rgba(40, 88, 103, 0.192);
    }
    p:hover{
        background-color: rgba(0, 0, 0, 0.15);
    }
    p:active{
        background-color: rgba(0, 0, 0, 0.25);
    }
    .formula-buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .button-formula{
        width: 80%;
        margin: 2px auto 2px auto;
        height: 25px;
        background-color: #edeeee;
        border: solid rgb(130, 130, 130) 1px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
        user-select: none;
        img{
            aspect-ratio: 1/1;
            height: 100%;
        }
    }
    .button-formula:hover{
        background-color: #c5dae1;
    }
    .button-formula:active{
        background-color: #81aaba;
    }
}
.options{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-gap: 5px;
    background-color: #e9e9e9;
    border-radius: 10px;
    button{
        width: 70%;
        margin: 5px auto 5px auto;
        height: max(3svh, 25px);
        background-color: #f4f4f4;
        border: solid rgb(175, 175, 175) 1px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
        user-select: none;

        font-weight: bold;
        color: rgb(95, 95, 95);

        font-size: 13px;
    }
    button:hover{
        background-color: #e4e4e4;
    }
    button:active{
        background-color: #b6b6b6;
    }
    .DrawGraphButton{
        grid-column: 1 / span 3;
    }
    .ResetViewButton{
        grid-column: 3 / span 1;
        grid-row: 2 / span 2;
    }
    input{
        width: max(80%, 20px);
        height: 0.3svh;
        padding: 10px;
        margin: 0 0 4px 0;
        background-color: #f4f4f4;
        border: solid rgb(175, 175, 175) 1px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
        user-select: none;

        font-weight: bold;
        color: rgb(131, 131, 131);

        user-select: none;
    }
    input:hover{
        background-color: #e4e4e4;
    }
    input:active{
        background-color: #b6b6b6;
    }
    label{
        font-weight: bold;
        color: rgb(95, 95, 95);
        text-align: right;
        padding: 5px;
        user-select: none;
    }
}
.button-container{
    display: grid;
    margin: auto;
    margin-top: 1svh;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    width: 100%-20px;
    button{
        width: 100%;
        height: max(5svh, 40px);
        padding: 10px;
        background-color: #f4f4f4;
        border: solid rgb(175, 175, 175) 1px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
        user-select: none;

        font-weight: bold;
        color: rgb(95, 95, 95);
        font-size: max(2vmin, 15px);
    }
    button:hover{
        background-color: #e4e4e4;
    }
    button:active{
        background-color: #b6b6b6;
    }
    .number{
        background-color: #d4ddeb;
    }
    .number:hover{
        background-color: #c4cbe2;
    }
    .number:active{
        background-color: #a4abe2;
    }
    .function{
        background-color: #e4d4d4;
    }
    .function:hover{
        background-color: #d4c4c4;
    }
    .function:active{
        background-color: #b4a4a4;
    }
    .special{
        background-color: #dcdcdc;
    }
    .special:hover{
        background-color: #d4d4d4;
    }
    .special:active{
        background-color: #bbbbbb;
    }
}